{% load static %}
<!doctype html>
<html ng-app="app">
    <head lang="en">
        <meta charset="UTF-8">
        <title>moonshot</title>
		<base href="{% static ''%}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--css-->
        <link rel="stylesheet" href="{% static 'front_end/app/assets/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'front_end/app/assets/bower_components/angular-material/angular-material.min.css' %}">

        <!--libraries-->
        <script src="{% static 'front_end/app/assets/bower_components/angular/angular.min.js' %}"></script>
		<script src="{% static 'front_end/app/assets/bower_components/ui-router/angular-ui-router.min.js' %}"></script>
        <script src="{% static 'front_end/app/assets/bower_components/angular-animate/angular-animate.min.js' %}"></script>
        <script src="{% static 'front_end/app/assets/bower_components/angular-aria/angular-aria.min.js' %}"></script>
        <script src="{% static 'front_end/app/assets/bower_components/angular-messages/angular-messages.min.js' %}"></script>
        <script src="{% static 'front_end/app/assets/bower_components/angular-material/angular-material.min.js' %}"></script>
    </head>
    <body>

        <div ui-view></div>

    </body>
    <!--main files-->
	<script src="{% static 'front_end/app/app.module.js' %}"></script>
	<script src="{% static 'front_end/app/app.routes.js' %}"></script>
	<script src="{% static 'front_end/app/app.config.js' %}"></script>
    <script src="{% static 'front_end/app/shared/factory/data_factory.js' %}"></script>
    <script src="{% static 'front_end/app/shared/directives/directives.js' %}"></script>
	<!--main components-->
	<script src="{% static 'front_end/app/components/main/app.main.js' %}"></script>
	<script src="{% static 'front_end/app/components/main/app.main.controller.js' %}"></script>
	<!--draw components-->
	<script src="{% static 'front_end/app/components/draws/app.draws.js' %}"></script>
	<script src="{% static 'front_end/app/components/draws/app.draws.controller.js' %}"></script>

       
</html>