.md-table {
    min-width: 60%;
    border-collapse: collapse;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
    cursor:pointer;
    background-color:rgba(63,81,181,0.2);
}

.md-table-header {
    border-bottom: 1px solid rgb(230,230,230);
    color: rgb(130,130,130);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 16px 16px 16px 0;
}

.md-table-header a{
    text-decoration: none;
    color: inherit;
}

.md-table-content {
    white-space: nowrap;
    font-size: 0.8em;
    padding: 16px 16px 16px 0;
    height: 72px;
    text-align: center;
}

.md-table-td-more {
    max-width:72px;
    width:72px;
    padding:16px;
}


.md-table-count-info {
    line-height:40px;
    font-size:.75em;
}


.bold {
    font-weight: 700;
}

.grey {
    color: grey;
}

.form-display{
    width: 33%;
}